<% include ./partials/header %>
<% include ./partials/navigation %>
	
	<div class="container">
		<h1>Aircast Site Report</h1>
	</div>




	<script type="text/javascript">

		var rpi_id = 3;
		var start_date = 1514419201;
		var end_date = 1514432701;
		$.ajax({
			url: 'http://ec2-54-169-234-246.ap-southeast-1.compute.amazonaws.com/api/v0/aircast_tv_monitoring.php?RpiID='+rpi_id+'&StartDate='+start_date+'&EndDate='+end_date,
			success: function(data) {
				console.log(data);
				console.log(data.Logs.length);
				console.log(data.Logs[0].Date);


			},
			error: function(err) {
				console.log(err);
			}
		})
	</script>

<% include ./partials/footer %>