<% include ./partials/header %>
<% include ./partials/navigation %>
	



    <div class="container" style="margin-top: -20px;">
		
		<!-- The Modal -->
		<div id="myModal" class="modal">

		  <!-- The Close Button -->
		  <span class="close">X</span>

		  <!-- Modal Content (The Image) -->
		  <img class="modal-content" id="img01">

		  <!-- Modal Caption (Image Text) -->
		  <div id="caption"></div>
		</div>



        <div id="map"></div>

      <div id="aircast-sort-item">
        <h2 id="aircast-site-group">Site List</h2>
        <button id="sort-all" class="btn-aircast">All</button>
        <button id="sort-bpo" class="btn-aircast">BPO</button>
        <button id="sort-food-park" class="btn-aircast">Food Park</button>
        <button id="sort-salon" class="btn-aircast">Salon</button>
        <button id="sort-fitness" class="btn-aircast">Fitness Center</button>
        <button id="sort-store" class="btn-aircast">Modern Trade Support</button>
        <button id="sort-restaurant" class="btn-aircast">Bar and Restaurant</button>
        <button id="sort-university" class="btn-aircast">University</button>
        <button id="sort-office" class="btn-aircast">Office</button>
        <div class="site-list-div">
          <ul class="site-list">
          
          </ul>  
        </div>
      </div> 
    </div>

    <script type="text/javascript">

	  var mapStyle = [{ "featureType": "administrative.country", "elementType": "geometry", "stylers": [{ "visibility": "simplified" },{ "hue": "#ff0000"}]}];
      
      var markers = [],
      	  infowindow = null,
      	  map,sitesListCount,
      	  counter = 0, count = 0;
      	  

      var aircast_sites = [];


      $(document).keyup(function(e) {
        if (e.keyCode === 27) {
          var modal = document.getElementById('myModal');
          modal.style.display = "none";
        } 
      });

      $("#sort-bpo").on("click",function(){
      	$(".site-list li").show();
      	$('.site-list li').filter("li[data-category!='BPO']").hide();
      	count = sitesListCount - $('.site-list li').filter("li[data-category!='BPO']").length     
      	$("#aircast-site-group").html('BPO <small>('+count+')</small>')

      });

      $("#sort-food-park").on("click",function(){
      	$(".site-list li").show();
      	$('.site-list li').filter("li[data-category!='Food Park']").hide();
      	count = sitesListCount - $('.site-list li').filter("li[data-category!='Food Park']").length     
      	$("#aircast-site-group").html('Food Park <small>('+count+')</small>')
      });

      $("#sort-salon").on("click",function(){
      	$(".site-list li").show();
      	$('.site-list li').filter("li[data-category!='Salon']").hide();
      	count = sitesListCount - $('.site-list li').filter("li[data-category!='Salon']").length     
      	$("#aircast-site-group").html('Salon <small>('+count+')</small>')
      });

      $("#sort-fitness").on("click",function(){
      	$(".site-list li").show();
      	$('.site-list li').filter("li[data-category!='Fitness Center']").hide();
      	count = sitesListCount - $('.site-list li').filter("li[data-category!='Fitness Center']").length     
      	$("#aircast-site-group").html('Fitness Center <small>('+count+')</small>')
      });

      $("#sort-store").on("click",function(){
      	$(".site-list li").show();
      	$('.site-list li').filter("li[data-category!='Modern Trade Support']").hide();
      	count = sitesListCount - $('.site-list li').filter("li[data-category!='Modern Trade Support']").length     
      	$("#aircast-site-group").html('Modern Trade Support <small>('+count+')</small>')
      });

      $("#sort-restaurant").on("click",function(){
      	$(".site-list li").show();
      	$('.site-list li').filter("li[data-category!='Bar and Restaurant']").hide();
      	count = sitesListCount - $('.site-list li').filter("li[data-category!='Bar and Restaurant']").length     
      	$("#aircast-site-group").html('Bar and Restaurant <small>('+count+')</small>')
      });

      $("#sort-university").on("click",function(){
      	$(".site-list li").show();
      	$('.site-list li').filter("li[data-category!='University']").hide();
      	count = sitesListCount - $('.site-list li').filter("li[data-category!='University']").length     
      	$("#aircast-site-group").html('University <small>('+count+')</small>')
      });

      $("#sort-office").on("click",function(){
      	$(".site-list li").show();
      	$('.site-list li').filter("li[data-category!='Office']").hide();
      	count = sitesListCount - $('.site-list li').filter("li[data-category!='Office']").length     
      	$("#aircast-site-group").html('Office <small>('+count+')</small>')
      });

      $("#sort-all").on("click",function(){
      	$(".site-list li").show();   
      	$("#aircast-site-group").html('Aircast Sites <small>('+sitesListCount+')</small>')
      });



      function fetchData() {

  	    $.ajax({
      		url: '/api/rpi-location',
      		success: function(data){
      			sortSiteData(data);
      		}
      	})

      }

      function sortSiteData(data){
      	
      	for (var i = 0; i < data.length; i++) {

      		if (data[i].isDeployed && (data[i].Category !== 'Gameplan' && data[i].Category !== 'Demo' && data[i].Category !== 'Inactive')) {

      				aircast_sites.push(data[i]);
      		}
      	}
      		console.log(aircast_sites);
      		initMap();
      }


      function initMap() {

        var uluru = {lat: 14.5862152, lng: 121.0593733};
        map = new google.maps.Map(document.getElementById('map'), {
        styles: mapStyle,
          zoom: 12,
          center: uluru
        });
        

        //event if map click close all window
        google.maps.event.addListener(map,'click',function(){
            infowindow.close();
          })
        // add drop
          drop();
      }


      function drop() {
          for (var i = 0; i < aircast_sites.length; i++) {
            //alert(aircast_sites.length);
            addMarkerWithTimeout(aircast_sites[i], i * 100);
            $(".site-list").append('<li class="marker-link" onclick="markerEvent(this)" data-markerid="' + i +'" data-category="'+aircast_sites[i].Category+'">'+aircast_sites[i].Room+'</li>');
          }
          sitesListCount = $(".site-list li").length;
          $("#aircast-site-group").html('Aircast Sites <small>('+sitesListCount+')</small>')
        }
      function clearMarkers() {
        counter = 0;
        for (var i = 0; i < markers.length; i++) {
          markers[i].setMap(null);
        }
        markers = [];
        drop();
      }
      function addMarkerWithTimeout(site, timeout, index) {

        setTimeout(function(){

            $("#total_counts").text(counter);
            counter++;
          var marker = new google.maps.Marker({
            position: {lat : site.Latitude, lng : site.Longitude},
            map: map,
            animation: google.maps.Animation.DROP,
            icon: 'img/custom_icon.png',
            title: site.Room
          });
          google.maps.event.addListener(marker, 'click', function(event) {
              clickMarker(marker, site);
              });
              markers[index] = marker;
              markers.push(markers[index]);

        },timeout);



        }



        function clickMarker(marker, site) {

          if(infowindow){
              infowindow.close();
          }

          infowindow = new google.maps.InfoWindow({
            maxWidth: 300,
            content: "<div class='scrollFix'><h3>"+site.Room+"</h3>"+imageString(site.SiteImage,site.Room)+"<br/><p><b>Address: </b>"+site.Address+"</p>"
          +"<p><b>Operation Hours:</b> "+moment(site.OpenTime, "HH:mm:ss").format("hh:mm A")+" - "+ moment(site.CloseTime, "HH:mm:ss").format("hh:mm A") +"</p><p><b>Estimate Traffic Count: </b>"+site.FootTraffic+"</p></div>"
          });
          infowindow.open(map,marker);
      }

      function imageString(path,alt){
        var image_url;
        if(path!==""){
          image_url = '<img class="aircast-site-image" src="'+path+'" alt="'+alt+'" onclick=previewImage(this)><div>';
        }else{
          image_url = '<img class="aircast-site-image" src="img/unavailable.png" alt='+alt+' onclick=previewImage(this)><div>';
        }
        return image_url;
      }

        // function placeMarker(map, location,details) {
        //   var marker = new google.maps.Marker({
        //         position: location,
        //         map: map,
        //         animation: google.maps.Animation.DROP,
        //         icon: 'custom_icon.png',
        //         title: position.name
        //     })
          
        // }

        function markerEvent(data) {

          if(infowindow){
              infowindow.close();
          }

          google.maps.event.trigger(markers[$(data).data('markerid')], 'click');

        }

        function previewImage(data) {
        	var modal = document.getElementById('myModal');
        	var modalImg = document.getElementById("img01");
        	modal.style.display = "block";
        	modalImg.src = data.src;
        	console.log(data);

			        	// Get the <span> element that closes the modal
			var span = document.getElementsByClassName("close")[0];

			// When the user clicks on <span> (x), close the modal
			span.onclick = function() { 
			  modal.style.display = "none";
			}
        }

    </script>

	<script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAppPFcfzyJyLxd4h__Hi-dpG50oCXuc0w&callback=fetchData">
    </script>

<% include ./partials/footer %>