<% include ./partials/header %>
<% include ./partials/navigation %>

	<div class="container">
		<h1>Aircast Issue Tracker</h1>
		<div class="row">
			<div class="col-md-6">
				<div class="inner-addon right-addon">
				    <i class="glyphicon glyphicon-search icon-search" ></i>
				    <input type="text" class="form-control input-lg"  id="search" placeholder="Search..." />
				</div>
			</div>
			<div class="col-md-6">
				<input type="date" name="">
			</div>
		</div>
	</div>

<% include ./partials/footer %>