<% include ./partials/header %>
<% include ./partials/navigation %>

 	<body>
 		<div class="container">
 			<h3>Aircast Sites Location (<span id="total_counts">0</span>)</h3>
		    <div id="map"></div>
		    <button id="drop" onclick="drop()">Drop Markers again.</button>	
 		</div>
	    
	    <script>

	      var aircast_sites = [
		    { 
		        name: "HGS, 1800 Bldg. (eastwood)",
		        lat: 14.6093692, lng: 121.0773443
		    },
		    { 
		        name: "HGS, 1880 Bldg. (eastwood)",
		        lat: 14.607843, lng: 121.078181
		    },
		    { 
		        name: "HGS, E-Commerce Bldg. (Eastwood)",
		        lat: 14.6087948, lng: 121.0798817
		    },
		    { 
		        name: "HGS, Aeon Bldg. (Alabang)",
		        lat: 14.4231007, lng: 121.0376617
		    },
		    { 
		        name: "HGS, Southkey Bldg. (Alabang)",
		        lat: 14.4250749, lng: 121.0386413
		    },
		    { 
		        name: "HGS, Plaza E Bldg. (Alabang)",
		        lat: 14.4267499, lng: 121.0373467
		    },
		    { 
		        name: "HGS, Filinvest Bldg. (Alabang)",
		        lat: 14.4232716, lng: 121.0351275
		    },
		    { 
		        name: "HGS, Cyberpark Bldg. (Libis)",
		        lat: 14.6079561, lng: 121.0779677
		    },
		    { 
		        name: "The Keatchen, Taytay Rizal",
		        lat: 14.5679809, lng: 121.140049
		    },
		    { 
		        name: "Village Eats, Cainta Rizal",
		        lat: 14.5956532, lng: 121.109904
		    },
		    { 
		        name: "Chiebog Food Park, Fairview, Quezon City",
		        lat: 14.720117, lng: 121.0628701
		    },    { 
		        name: "The Yard Xavierville, Quezon City",
		        lat: 14.6347033, lng: 121.0693711
		    },
		    { 
		        name: "The Yard Underground, Pasig City",
		        lat: 14.5719735, lng: 121.0634572
		    },
		    { 
		        name: "Hangout Food Park, Caloocan",
		        lat: 14.753664, lng: 121.0375092
		    },
		    { 
		        name: "Nova Food Park, Novaliches",
		        lat: 14.7219442, lng: 121.0304453
		    },
		    { 
		        name: "Open Kitchen, P.Tuazon Cubao",
		        lat: 14.6152875, lng: 121.043655
		    },
		    { 
		        name: "Congressional",
		        lat: 14.6731304, lng: 121.058078
		    },
		    { 
		        name: "Kalye One, Abad Santos",
		        lat: 14.5992162, lng: 121.0357853
		    },
		    { 
		        name: "Davids Salon, E.Rodriguez Quezon City",
		        lat: 14.6214707, lng: 121.0197975
		    },
		    { 
		        name: "Davids Salon, SM Mega 1",
		        lat: 14.5862102, lng: 121.0547723 
		    },
		    { 
		        name: "Davids Salon, Mega 2",
		        lat: 14.5855403, lng: 121.0549378
		    },
		    { 
		        name: "Davids Salon, Podium",
		        lat: 14.5857922, lng: 121.0570333 
		    },
		    { 
		        name: "Davids Salon, Ruby Rd.",
		        lat: 14.5862152, lng: 121.0593733
		    },
		    { 
		        name: "Davids Salon, Shangrila",
		        lat: 14.5803032, lng: 121.0530423
		    },
		    { 
		        name: "Davids Salon, Galleria",
		        lat: 14.5906002, lng: 121.0580173
		    },
		    { 
		        name: "Davids Salon, SM Makati",
		        lat: 14.5489965, lng: 121.0099887
		    },
		    { 
		        name: "Davids Salon, Greenbelt",
		        lat: 14.5534862, lng: 121.0195523 
		    },
		    { 
		        name: "Davids Salon, Walter Mart-Pasong Tamo",
		        lat: 14.5508142, lng: 121.0110513
		    },
		    { 
		        name: "Davids Salon, Juno",
		        lat: 14.5625049, lng: 121.0259514
		    },
		    { 
		        name: "Davids Salon, Ayala Alabang/Madrigal Business Park",
		        lat: 14.4241495, lng: 121.0233414 
		    },
		    { 
		        name: "Davids Salon, SM Light",
		        lat: 14.5737702, lng: 121.0472969 
		    },
		    { 
		        name: "Davids Salon, Valero",
		        lat: 14.5586141, lng: 121.0210682
		    },
		    { 
		        name: "Davids Salon, Eastwood",
		        lat: 14.6104032, lng: 121.0762613
		    },
		    { 
		        name: "Davids Salon, Burgos Circle",
		        lat: 14.5501956, lng: 121.0475297
		    },
		    { 
		        name: "Davids Salon, Market Market",
		        lat: 14.5501698, lng: 121.0540958
		    },
		    { 
		        name: "Anytime Fitness, Maginhawa",
		        lat: 14.646333, lng: 121.0575288
		    },
		    { 
		        name: "Anytime Fitness, Eton Plaza",
		        lat: 14.5575919, lng: 121.0159075
		    },
		    { 
		        name: "Anytime Fitness, Paseo Makati",
		        lat: 14.5576042, lng: 121.0206726
		    },
		    { 
		        name: "Warner Music, BGC Taguig",
		        lat: 14.5871082, lng: 121.0611143
		    },
		    { 
		        name: "David's Salon Office, Cardona St., Jp Rizal Makati City",
		        lat: 14.5714169, lng: 121.0176913
		    },
		    { 
		        name: "Cafe Del Mar, Venice Piaza Mall Mckinley",
		        lat: 14.5343624, lng: 121.0487154
		    },
		    { 
		        name: "Empire Bar, Venice Piaza Mall Mckinley",
		        lat: 14.5340891, lng: 121.0488301
		    },
		    { 
		        name: "New Bombay, Venice Piaza Mall Mckinley",
		        lat: 14.5341089, lng: 121.0489743
		    },
		    { 
		        name: "Café Bonjour, BGC Taguig",
		        lat: 14.5599942, lng: 121.0545821
		    },
		    { 
		        name: "Café Bonjour, Pasay",
		        lat: 14.5207305, lng: 121.0136077
		    },
		    { 
		        name: "Café Bonjour, Shaw",
		        lat: 14.5207305, lng: 121.03994
		    },
		    { 
		        name: "Café Bonjour, Greenhills",
		        lat: 14.60646, lng: 121.03994
		    },

		];	

	      var markers = [];
	      var map;
	      var counter = 0 ;

	      document.ready(drop());

	      function initMap() {
	        var uluru = {lat: 14.6760, lng: 121.0437};
	        map = new google.maps.Map(document.getElementById('map'), {
	          zoom: 10,
	          center: uluru
	        });
	      }

	      function drop() {
	          clearMarkers();
	          for (var i = 0; i < aircast_sites.length; i++) {
	            addMarkerWithTimeout(aircast_sites[i], i * 100);
	          }
	        }

	      function clearMarkers() {
	        counter = 0;
	        for (var i = 0; i < markers.length; i++) {
	          markers[i].setMap(null);
	        }
	        markers = [];
	      }

	      function addMarkerWithTimeout(position, timeout) {
	          window.setTimeout(function() {
	            $("#total_counts").text(counter);
	            counter++;

	            markers.push(new google.maps.Marker({
	              position: {
	                lat: position.lat,
	                lng: position.lng
	              },
	              map: map,
	              animation: google.maps.Animation.DROP,
	              icon: '/img/custom_icon.png',
	              title: position.name
	            }));
	          }, timeout);
	        }

    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAppPFcfzyJyLxd4h__Hi-dpG50oCXuc0w&callback=initMap">
    </script>

<% include ./partials/footer %>