<div class="container">
	<div class="row"> 
		<div class="col-md-3">
		</div> 
		<div class="col-md-6 account-page">
			My Pages
		</div>
		<div class="col-md-3">
		</div>
	</div>
</div>

<table class="table table-hover table-striped">
	<thead>
		<th>Picture</th>
		<th>Name</th>
		<th>Button</th>
	</thead>
	<tbody>
		<tr ng-repeat="account in FB_Accounts">
			<td>
				<image src="{{account.picture.data.url}}" >
			</td>
			<td>
				{{account.name}}
			</td>
			<td>
				<button ng-click="get_page(account.id, account.access_token, account.name, account.picture.data.url)">SELECT</button>
			</td>
		</tr>

	</tbody>

</table>