<div class="container">
	<div class="row"> 
		<div class="col-md-7">
			<table class="table table-hover table-striped">
				<thead>
					<th>FROM</th>
					<th>Comment</th>
					<th>Replies</th>
				</thead>
				<tbody>
					<tr ng-repeat-start="comment in FB_Comments">
						<td>
							<image src="{{comment.from.picture.data.url}}" >{{comment.from.name}}
						</td>
						<td>
							{{comment.message}}
						</td>
						<td>
							asd
						</td>
					</tr>
					
				</tbody>
			</table>
		</div>
		<div class="col-md-5" ng-show="showReplies">
			
		</div>
	</div>
</div>

