<div class="container">
	<div class="row filter">
		Post
	</div>
	<div class="row word_search"> 
		<div class="col-md-3">
			<image ng-src="{{FB_SinglePost.picture}}" height="400px">
		</div> 
		<div class="col-md-9">
			<div class="post_message">
				{{FB_SinglePost.message}}
			</div>
			<div class="post_reaction">
				<span class="reaction">
					{{FB_SinglePost.reactions.summary.total_count}}<img class="fbicon" src="/img/fb-like-icon.png">
				</span>
				<span class="reaction">
					{{FB_SinglePost.comments.summary.total_count}}<img class="fbicon"  src="/img/fb-comment-icon.png">
				</span>
				<span class="reaction">
					<span ng-hide="FB_SinglePost.shares.count == undefined">{{FB_SinglePost.shares.count}}</span><span ng-show="FB_SinglePost.shares.count == undefined">0</span><img class="fbicon"  src="/img/fb-share-icon.png">
				</span>
			</div>
		</div>
	</div>
</div>

<div class="container">
	<div class="row filter">
		Fiter Words
	</div>
	<div class="row word_search"> 
		<div class="col-md-7">
			<span ng-repeat="word in filter_words">
				<span ng-click="remove_word(word)" class="btn btn-warning">{{word}}</span>
			</span>
		</div> 
		<div class="col-md-5">
			Word: <input type="text" ng-model="page_name" id="addword" value="ShakeysPH" > <button ng-click="add_word()" class="btn btn-primary">Add Filter Word</button>
		</div>
	</div>
</div>


<div class="container">
	<div class="row"> 
		<div class="col-sm-7">
			<div class="comment_head">
				Comments
			</div>
			<table class="table table-hover table-striped">
				<thead>
					<th>FROM</th>
					<th>Comment</th>
					<th>Created Time</th>
					<th>Number of Replies</th>
					<th>Replies</th>
				</thead>
				<tbody>
					<tr ng-repeat="comment in FB_ShowComments">
						<td>
							<image src="{{comment.from.picture.data.url}}" >
							<div>{{comment.from.name}}</div>
						</td>
						<td>
							{{comment.message}}
						</td>
						<td>
							{{comment.created_time}}
						</td>
						<td>
							{{comment.comments.summary.total_count}}
						</td>
						<td>
							<button ng-click="show_replies($index,comment.id)">Show Replies</button>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="col-sm-5" ng-show="showReplies">
			<div ng-include = replyTemp>
			</div>
		</div>
	</div>
</div>

