<div class="container">
	<div class="row" ng-repeat="post in FB_Posts" height="300">
		<div class="col-md-3" >
			<image src="{{post.picture}}" heigh="200">
		</div>
		<div class="col-md-3" >
			{{post.message}}
		</div>
		<div class="col-md-3" >

		</div>
		
	</div>
</div>