<div class="comment_head">
	Replies
</div>
<table class="table table-hover table-striped">
	<thead>
		<th>FROM</th>
		<th>Reply</th>
	</thead>
	<tbody>
		<tr ng-repeat="reply in commentReply">
			<td>
				<image src="{{reply.from.picture.data.url}}" >
				<div>
					{{reply.from.name}}
				</div>
			</td>
			<td>
				{{reply.message}}
			</td>
		</tr>
	</tbody>
</table>
<div class="row"> 
	<div class="col-sm-2">
		<image ng-src="{{FB_Picture}}" >
	</div> 
	<div class="col-sm-8">
		<textarea rows="3" id="comment_reply" class="text_area">
		</textarea>
	</div>
	<div class="col-sm-2">
		<button ng-click="reply_to_comment()">Send</button>
	</div>
</div>