<div class="container">
	Page Name: <input type="text" ng-model="page_name" id="page_name" value="ShakeysPH"> <button ng-click="search_page()">Search</button>
</div>
<div class="container">
	<div class="row" ng-repeat="post in FB_Posts">
		<div class="col-md-3" height="300">
			<image src="{{post.picture}}" heigh="200">
		</div>
		<div class="col-md-3" height="300">
			{{post.message}}
		</div>
		<div class="col-md-3" height="300">

		</div>
		
	</div>
</div>