<% include ./partials/header %>
<% include ./partials/navigation %>

	<div class="container">
		<h1 class="margin-bottom-30">Gadget Pilipinas</h1>

		<ul id="gadget-list">
			<li><a href="/gadget-pilipinas/votes"><h3><i class="glyphicon glyphicon-hand-right"></i> Vote counts per product by category</h3></a></li>
			<li><a href="/gadget-pilipinas/nominee"><h3><i class="glyphicon glyphicon-hand-right"></i> Nominees</h3></a></li>
		</ul>		
	</div>


<% include ./partials/footer %>