<% include ./partials/header %>
<% include ./partials/navigation %>

	<div class="container" id="report-container">
		<h1 class="margin-bottom-30">Gadget Pilipinas Votes by Category</h1>

	</div>
	<div class="container">
		<a href="/gadget-pilipinas" class="btn btn-primary">Go Back</a>
	</div>



<script>

	$.ajax({
		url: '/api/votes',
		success: function(data) {
			console.log(data);
			renderTable(data);
		}
	})

	var attachReport;

	function checkData(item) {
		
		var category_item = item;
		var accessory = ['ACC_1','ACC_2','ACC_3','ACC_4'],
	      game = ['GAME_1','GAME_2','GAME_3','GAME_4','GAME_5'],
	      budget = ['BUDGET_1','BUDGET_2','BUDGET_3','BUDGET_4','BUDGET_5'],
	      mid = ['LOW_1','LOW_2','LOW_3','LOW_4','LOW_5','LOW_6','LOW_7'],
	      high = ['HIGH_1','HIGH_2','HIGH_3','HIGH_4','HIGH_5','HIGH_6'],
	      flagship = ['FLAGSHIP_1','FLAGSHIP_2','FLAGSHIP_3','FLAGSHIP_4','FLAGSHIP_5'],
	      laptop = ['GAMING_LAPTOP_1','GAMING_LAPTOP_2','GAMING_LAPTOP_3','GAMING_LAPTOP_4'],
	      choiceAward = ['CHOICE_AWARD_1','CHOICE_AWARD_2','CHOICE_AWARD_3','CHOICE_AWARD_4','CHOICE_AWARD_5','CHOICE_AWARD_6','CHOICE_AWARD_7'],
	      localtech = ['LOCAL_TECH_1','LOCAL_TECH_2','LOCAL_TECH_3','LOCAL_TECH_4'],
	      newsMaker = ['TECHNEWSMAKER_1','TECHNEWSMAKER_2','TECHNEWSMAKER_3','TECHNEWSMAKER_4','TECHNEWSMAKER_5','TECHNEWSMAKER_6','TECHNEWSMAKER_7','TECHNEWSMAKER_8'],
	      smartphone = ['SMARTPHONE_1','SMARTPHONE_2','SMARTPHONE_3','SMARTPHONE_4','SMARTPHONE_5'],
	      output_1 = ['GLADIUS II','ROG Rapture','Gear VR','Edge 10000'],
	      output_2 = ['Zero Dawn','ODYSSEY','NBA 2K18','Battlegrounds (PUBG)','Zelda'],
	      output_3 = ['CM Flare S6','Cloudfone Excite Prime 2','Starmobile Up Prime','Samsung Galaxy J3','Huawei Y5 (2017)'],
	      output_4 = ['Galaxy J7 Core','OPPO A71','VIVO Y55s','Huawei GR3 (2017)','CM Flare S6 Selfie','ASUS Zenfone 4 Max','Xiaomi Note 4X'],
	      output_5 = ['Huawei Nova 2i','OPPO F5','Samsung J7 Pro','VIVO V7+','Xiaomi Mi A1','ASUS Zenfone 4 Selfie'],
	      output_6 = ['Samsung Galaxy Note 8','Huawei Mate 10','Apple iPhone X','Nokia 8','ASUS Zenfone 4'],
	      output_7 = ['Triton 700','MSI GT75VR','ASUS ROG GL503','ASUS ROG Zephyrus GX501'],
	      output_8 = ['OPPO F5','VIVO V7+','Huawei Nova 2i','Cherry Mobile Flare S6','Nokia 8','Samsung Galaxy Note 8','Apple IPhone 8 Plus',],
	      output_9 = ['Cherry Mobile','Cloudfone','MyPhone','Star Mobile'],
	      output_10 = ['ASUS','Cloudfone','Huawei','OPPO','Samsung','VIVO','Voyager Innovations','Cherry Mobile'],
	      output_11 = ['OPPO F5','VIVO V7+','Samsung Galaxy Note 8','Apple IPhone X','Huawei Nova 2i'];


	      if (accessory.indexOf(category_item) != -1) {
	      	return ['Gadget Accessory',accessory,output_1];
	      }else if (game.indexOf(category_item) != -1) {
	      	return ['Game of the Year',game,output_2];
	      }else if (budget.indexOf(category_item) != -1) {
	      	return ['Budget Smartphone',budget,output_3];
	      }else if (mid.indexOf(category_item) != -1) {
	      	return ['Low Mid Range Phone',mid,output_4];
	      }else if (high.indexOf(category_item) != -1) {
	      	return ['High Mid Range Phone',high,output_5];
	      }else if (flagship.indexOf(category_item) != -1) {
	      	return ['Flagship',flagship,output_6];
	      }else if (laptop.indexOf(category_item) != -1) {
	      	return ['Gaming Laptop',laptop,output_7];
	      }else if (choiceAward.indexOf(category_item) != -1) {
	      	return ['Choice Award',choiceAward,output_8];
	      }else if (localtech.indexOf(category_item) != -1) {
	      	return ['Local Tech Brands',localtech,output_9];
	      }else if (newsMaker.indexOf(category_item) != -1) {
	      	return ['Tech News Maker', newsMaker,output_10];
	      }else if (smartphone.indexOf(category_item) != -1) {
	      	return ['Smartphone',smartphone,output_11];
	      }

	}


	function renderTable(data) {

		console.log(data.length);
		var counter = 0;

		data.forEach(function(item){
			
			var div = document.createElement("div");
			div.className +="col-md-12 ";
			div.className +="margin-bottom-30";

			var div1 = document.createElement("div");
			var lbl = document.createElement('label');
			lbl.innerHTML = checkData(item[0])[0];
			div1.appendChild(lbl);

			var div2 = document.createElement("div");
			var canvas = document.createElement('canvas');
			canvas.id = "data-"+counter;
			canvas.width = 100;
			canvas.height = 200;
			counter++
			div2.appendChild(canvas);
			console.log(div2);

			
			div.appendChild(div1);
			div.appendChild(div2);
			console.log(div);
			var body = document.getElementById("report-container");
			body.appendChild(div);

		})

		showGraph(data);

	}


function showGraph(data) {

	var counter = 0;
	data.forEach(function(item){
	var temp;
	var label_temp = [];
	var label_data_temp = [];
	var final_count = [];

		temp = checkData(item[0]);
		label_temp = temp[1];
		label_temp_data = temp[2];
		// console.log(label_temp); 
		// console.log(label_data_temp); 

		// console.log(item);
		var count = {};
	    item.forEach(function(i) 
	    	{ 	
	    		count[i] = (count[i]||0) + 1;
	    	});

	    console.log("count:", count);
	    console.log("label_temp: ", label_temp);

	    for (var i = 0; i < label_temp.length; i++) {

	    		console.log('First: ' ,label_temp[i]);
	    		for (var key in count) {
	    			if (label_temp[i] == key) {
	    				final_count.push(count[key]);
	    				console.log(label_temp[i] + ' ---> ' + count[key]);
	    				break;
	    			}
	    		}
	    		console.log(label_temp_data);
	    		console.log(final_count);
	    }

	 //    for (var key in count) {
		    	
		//     	for (var k = 0; k < label_temp.length; k++) {
		//     		if (label_temp[k] == 'key') {
		//     			final_count.push(count[key]);
		//     		}
		//     	}
		//         console.log(key + " -> " + count[key]);
		    
		// }

	    console.log('label count:',item.length);

		var d = 'data-'+counter;
		var ctx = document.getElementById(d).getContext('2d');
		var myChart = new Chart(ctx, {
		    type: 'bar',
		    data: {
		        labels: label_temp_data,
		        datasets: [{
		            label: '# of Votes',
		            data: final_count,
		            backgroundColor: [
		                'rgba(255, 99, 132, 0.6)',
		                'rgba(54, 162, 235, 0.6)',
		                'rgba(255, 206, 86, 0.6)',
		                'rgba(75, 192, 192, 0.6)',
		                'rgba(153, 102, 255, 0.6)',
		                'rgba(255, 159, 64, 0.6)',
		                'rgba(105, 100, 64, 0.6)',
		                'rgba(200, 150, 64, 0.6)',

		            ],
		            borderColor: [
		                'rgba(255,99,132,1)',
		                'rgba(54, 162, 235, 1)',
		                'rgba(255, 206, 86, 1)',
		                'rgba(75, 192, 192, 1)',
		                'rgba(153, 102, 255, 1)',
		                'rgba(255, 159, 64, 1)',
		               	'rgba(105, 100, 64, 1)',
		                'rgba(200, 150, 64, 1)',
		            ],
		            borderWidth: 1
		        }]
		    },
		    options: {
		    	response: false,
		    	maintainAspectRatio: false,
		        scales: {
		            yAxes: [{
		            	stacked: false,
		                ticks: {
            				autoSkip: false,
		                    beginAtZero:true
		                }
		            }]
		        }
		    }
		});
		counter++;

	});


}

</script>


<% include ./partials/footer %>