<% include ./partials/header %>
<% include ./partials/navigation %>



<!-- Page Content -->
<div class="container">
    <div class="row">
    	<div class="starter-template">
			<div ng-include = currentTemp>

			</div>

    	</div>
    </div>
    <!-- /.row -->
</div>
<!-- /.container -->

<% include ./partials/footer %>