body {
    padding-top: 100px !important;
    padding-bottom: 50px;
}
.starter-template {
    padding: 40px 15px;
    text-align: center;
}


.margin-10 {
  margin: 10px;
}

.margin-top-0 {
  margin-top: 0;
}

.margin-top-10 {
  margin-top: 10px;
}

.margin-top-20 {
  margin-top: 20px;
}

.margin-top-30 {
  margin-top: 30px;
}

.margin-bottom-10 {
  margin-bottom: 10px;
}

.margin-bottom-20 {
  margin-bottom: 20px;
}

.margin-bottom-30 {
  margin-bottom: 30px;
}

.margin-left-10 {
  margin-left: 10px;
}
.margin-left-20 {
  margin-left: 20px;
}

.radius-0 {
  border-radius: 0;
}


#report-graph {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
}

.aircast-frame {
  width: 450px !important;
  margin-top: 30px;
}

/*==========================
        TEMPLATES
==========================*/


.add {
  text-decoration: none; 
  color: #333;
  transition: .2s;
}

.add:hover {
  transform: scale(1.4);
  text-decoration: none;
}

table a {
  text-decoration: none;
  color: black;
}
table a:hover {
  color: black;
}

#aircast-preview {
  position: fixed;
  right: 50px;
  top: 150px;
  border: 5px solid white;
  box-shadow: 0 0 20px rgba(0,0,0,.4);
  display: none;
}

#toggle-campaign {
   position: fixed; 
   top: 80px; 
   right: 50px;
}

#show-stats {
  display: none;
   position: fixed; 
   top: 80px; 
   right: 260px;
}

.glyphicon-trash {
  color: #cb4343;
}
#delete-campaign {
   position: fixed; 
   top: 80px; 
   right: 260px;
}

 #aircast-preview-first {
    position: fixed;
    right: 20px;
    text-align: center;
 }

#aircast-preview-first p {
  margin: 0 0 0 5px;
}

.site-to-send-message {
  margin-top: 20px;
}
.site-to-send-message li {
  margin-bottom: 5px;
}

#aircast-preview-first .quick-stats {

  text-align: left;
  padding-left: 100px;
}

#aircast-preview-first .quick-stats hr {
  width: 50%; 
  margin: 15px 0 15px 0;   
}

.number-to-send {
  margin-right: 20px !important; 
  transform: scale(2);
}

li.dropdown:hover > .dropdown-menu {
    display: block;
}

textarea {
    resize: none;
}

.status-icon {
    width: 10px;
    margin-right: 5px;
}


.site_preview {
	height: 300px;
	overflow-y: scroll !important;
	margin-bottom: 30px;
}

.site_preview2 {
  height: 400px;
}

/* enable absolute positioning */
.inner-addon { 
    position: relative; 
}

/* style icon */
.inner-addon .glyphicon {
  position: absolute;
  padding: 10px;
  pointer-events: none;
}

/* align icon */
.left-addon .glyphicon  { left:  0px;}
.right-addon .glyphicon { right: 0px;}

/* add padding  */
.left-addon input  { padding-left:  30px; }
.right-addon input { padding-right: 30px; }

.icon-search {
	font-size: 24px;
}

/*toggle switch*/

.switchery {
  background-color: #fff;
  border: 1px solid #dfdfdf;
  border-radius: 20px;
  cursor: pointer;
  display: inline-block;
  height: 30px;
  position: relative;
  vertical-align: middle;
  width: 50px;

  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  box-sizing: content-box;
  background-clip: content-box;
}

.switchery > small {
  background: #fff;
  border-radius: 100%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
  height: 30px;
  position: absolute;
  top: 0;
  width: 30px;
}

/* Switchery sizes. */

.switchery-small {
  border-radius: 20px;
  height: 20px;
  width: 33px;
}

.switchery-small > small {
  height: 20px;
  width: 20px;
}

.switchery-large {
  border-radius: 40px;
  height: 40px;
  width: 66px;
}

.switchery-large > small {
  height: 40px;
  width: 40px;
}

/*toastr*/

.toast {
  opacity: 1 !important;
}

#toast-container > div {
  opacity: 1 !important; 
}

.margin-bottom-30 {
  margin-bottom: 30px;
}

#map {
    position: absolute;
    left: 0;
    top: 0;
    height: 100vh;
    width: 60%;
    border: 2px solid #ffeded;
    box-shadow: 0 0 10px rgba(0,0,0,.4);
/*    margin-bottom: 20px;
    margin-top: 20px;*/
}
#aircast-sort-item {
  width: 35%;
  margin-left: 10%;
  float: right;
  position: relative;
}

.category-button {
    position: absolute;
    left: 0;
    width: 40%;
}

#gadget-list {
  list-style: none;
}

#gadget-list a {
  text-decoration: none;
}


/*aircast locator*/

.site-list {
    margin-top: 0;
    margin-bottom: 10px;
}

 .site-list-div {
  position: absolute;
  right: -50px;
  width: 75%;
  height: 450px;
  overflow-y: scroll; 
 }

.site-list-div li {
  cursor: pointer;
  list-style: none;

}

.site-list-div li:hover {
  padding-left: 10px;
  background: #00A849AA;
  border-radius: 10px;
  color: white;
  font-size: 16px;
}

 .aircast-site-image {
  border: 2px solid white;
  box-shadow: 1px 1px 5px rgba(0,0,0,.6);
  height:200px; 
  width:300px;
  transition: 0.3s;
  cursor: pointer;
 }
  .aircast-site-image:hover {
    opacity: 0.7;
  }

 #aircast-sort-item .btn-aircast {
    background: #00A849;
    color: white;
    margin-bottom: 5px;
    border-radius: 7px;
    outline: none;
    border: 2px solid green;
    transition: .1s;
    width: 100%;
 }

  #aircast-sort-item .btn-aircast:hover {
  background: #13dc6a;
  }

  .scrollFix {
    line-height: 1.35;
    overflow: hidden;
    white-space: nowrap;
}


/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 9999; /* Sit on top */
    padding-top: 60px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.5); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation - Zoom in the Modal */
/*.modal-content, #caption { 
    animation-name: zoom;
    animation-duration: 0.6s;
}*/

@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}

/* The Close Button */
.close {
    position: absolute;
    top: 45px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
    opacity: 1;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    
    #map {
      height: 50vh;
      width: 100%;
      position: relative;
    }

    #aircast-sort-item {
      width: 100%;
    }

    .site-list-div {
      position: unset;
      width: auto;
      height: 250px;

    }
    .category-button {
      position: unset;
      float: left;
    }

    .modal-content {
        width: 100%;
    }
}


/************************************
  Issue Tracker
*************************************/
.issueTrackerClose{
  cursor:pointer;
  align-self: center;
  justify-self:  center;
  vertical-align: middle;
  height: 51PX;
}
.custom-modal-content{
  width: auto;
}

.custom-modal-body{
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  width: 600px;
}

.custom-modal-body div{
  width:100%;
  margin: 0px 5px;
}
#head-container{
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-content: center;
  vertical-align: middle;
}
#add-issue{
  margin-top: 70px;
  bottom: 0;
  right: 0;
}
#issue-form{
  width: 50%;
}
#issue-list{
  margin-left: 10px;
  width: 50%;
  max-height: 400px;
  overflow-y: scroll;
}
.issue-list{
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-content: center;
  vertical-align: middle;
}
.del-issuelist{
  cursor: pointer;
}
/************************************
  Issue Tracker (END)
*************************************/



/*LOADER*/


.loader-div  {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}

.loader h2 {
    color: black !important;
    width: 600px;
    position: relative;
    top: 100px;
    right: 250px;
    color: white;
    text-align: center;
}

.loader {
  position: relative;
  width: 75px;
  height: 100px;
}
.loader__bar {

  position: absolute;
  bottom: 0;
  width: 10px;
  height: 50%;
  background: #fff;
  transform-origin: center bottom;
  box-shadow: 1px 1px 0 rgba(0, 0, 0, .2);
}
.loader__bar:nth-child(1) {
  background: #2ec132;
  left: 0px;
  transform: scale(1, 0.2);
  animation: barUp1 4s infinite;
}
.loader__bar:nth-child(2) {
  background: #2ec132;
  left: 15px;
  transform: scale(1, 0.4);
  animation: barUp2 4s infinite;
}
.loader__bar:nth-child(3) {
  background: #2ec132;
  left: 30px;
  transform: scale(1, 0.6);
  animation: barUp3 4s infinite;
}
.loader__bar:nth-child(4) {
  background: #2ec132;
  left: 45px;
  transform: scale(1, 0.8);
  animation: barUp4 4s infinite;
}
.loader__bar:nth-child(5) {
  background: #2ec132;
  left: 60px;
  transform: scale(1, 1);
  animation: barUp5 4s infinite;
}
.loader__ball {
  background: #41cb12 !important;
  position: absolute;
  bottom: 10px;
  left: 0;
  width: 10px;
  height: 10px;
  background: #fff;
  border-radius: 50%;
  animation: ball 4s infinite;
}
@keyframes ball {
  0% {
    transform: translate(0, 0);
  }
  5% {
    transform: translate(8px, -14px);
  }
  10% {
    transform: translate(15px, -10px);
  }
  17% {
    transform: translate(23px, -24px);
  }
  20% {
    transform: translate(30px, -20px);
  }
  27% {
    transform: translate(38px, -34px);
  }
  30% {
    transform: translate(45px, -30px);
  }
  37% {
    transform: translate(53px, -44px);
  }
  40% {
    transform: translate(60px, -40px);
  }
  50% {
    transform: translate(60px, 0);
  }
  57% {
    transform: translate(53px, -14px);
  }
  60% {
    transform: translate(45px, -10px);
  }
  67% {
    transform: translate(37px, -24px);
  }
  70% {
    transform: translate(30px, -20px);
  }
  77% {
    transform: translate(22px, -34px);
  }
  80% {
    transform: translate(15px, -30px);
  }
  87% {
    transform: translate(7px, -44px);
  }
  90% {
    transform: translate(0, -40px);
  }
  100% {
    transform: translate(0, 0);
  }
}
@keyframes barUp1 {
  0% {
    transform: scale(1, 0.2);
  }
  40% {
    transform: scale(1, 0.2);
  }
  50% {
    transform: scale(1, 1);
  }
  90% {
    transform: scale(1, 1);
  }
  100% {
    transform: scale(1, 0.2);
  }
}
@keyframes barUp2 {
  0% {
    transform: scale(1, 0.4);
  }
  40% {
    transform: scale(1, 0.4);
  }
  50% {
    transform: scale(1, 0.8);
  }
  90% {
    transform: scale(1, 0.8);
  }
  100% {
    transform: scale(1, 0.4);
  }
}
@keyframes barUp3 {
  0% {
    transform: scale(1, 0.6);
  }
  100% {
    transform: scale(1, 0.6);
  }
}
@keyframes barUp4 {
  0% {
    transform: scale(1, 0.8);
  }
  40% {
    transform: scale(1, 0.8);
  }
  50% {
    transform: scale(1, 0.4);
  }
  90% {
    transform: scale(1, 0.4);
  }
  100% {
    transform: scale(1, 0.8);
  }
}
@keyframes barUp5 {
  0% {
    transform: scale(1, 1);
  }
  40% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1, 0.2);
  }
  90% {
    transform: scale(1, 0.2);
  }
  100% {
    transform: scale(1, 1);
  }
}


/*end of loader*/


#status-details {
  height: 250px;
  overflow-y: scroll; 
}

/*#status-overview li {
  list-style: none;

}

#status-overview li span {
  font-size: 10px;
}
*/
#aircast-quarantine ul li {
  list-style: none;
}


.quarantine-list ol li  {
  margin-bottom: 10px;
}

.quarantine-list ol li strong {
  color: red;
}

.clock {
    font-size: 20px;
    background: azure;
    padding: 3px 40px;
    border: 2px dashed black;
    box-shadow: 2px 2px 10px rgba(0,0,0,.2);
    margin-left: 20px;
}

@media (min-width: 1200px) {
.container {
    width: 1270px;
}