body {
    padding-top: 100px !important;
    padding-bottom: 50px;
}
.starter-template {
    padding: 40px 15px;
    text-align: center;
}

.aircast-frame {
  width: 300px;
}

table a {
  text-decoration: none;
  color: black;
}
table a:hover {
  color: black;
}

#aircast-preview {
  position: fixed;
  right: 50px;
  top: 150px;
  border: 5px solid white;
  box-shadow: 0 0 20px rgba(0,0,0,.4);
  display: none;
}

#toggle-campaign {
   position: fixed; 
   top: 80px; 
   right: 50px;
}

#show-stats {
   position: fixed; 
   top: 80px; 
   right: 200px;
}

 #aircast-preview-first {
    position: fixed;
    right: 20px;
    text-align: center;
 }

#aircast-preview-first p {
  margin: 0 0 0 5px;
}

#aircast-preview-first .quick-stats {

  text-align: left;
  padding-left: 100px;
}

#aircast-preview-first .quick-stats hr {
  width: 50%; 
  margin: 15px 0 15px 0;   
}



#site_preview {
	height: 300px;
	overflow-y: scroll !important;
	margin-bottom: 30px;
}

/* enable absolute positioning */
.inner-addon { 
    position: relative; 
}

/* style icon */
.inner-addon .glyphicon {
  position: absolute;
  padding: 10px;
  pointer-events: none;
}

/* align icon */
.left-addon .glyphicon  { left:  0px;}
.right-addon .glyphicon { right: 0px;}

/* add padding  */
.left-addon input  { padding-left:  30px; }
.right-addon input { padding-right: 30px; }

.icon-search {
	font-size: 24px;
}

/*toggle switch*/

.switchery {
  background-color: #fff;
  border: 1px solid #dfdfdf;
  border-radius: 20px;
  cursor: pointer;
  display: inline-block;
  height: 30px;
  position: relative;
  vertical-align: middle;
  width: 50px;

  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  box-sizing: content-box;
  background-clip: content-box;
}

.switchery > small {
  background: #fff;
  border-radius: 100%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
  height: 30px;
  position: absolute;
  top: 0;
  width: 30px;
}

/* Switchery sizes. */

.switchery-small {
  border-radius: 20px;
  height: 20px;
  width: 33px;
}

.switchery-small > small {
  height: 20px;
  width: 20px;
}

.switchery-large {
  border-radius: 40px;
  height: 40px;
  width: 66px;
}

.switchery-large > small {
  height: 40px;
  width: 40px;
}

/*toastr*/

.toast {
  opacity: 1 !important;
}

#toast-container > div {
  opacity: 1 !important; 
}

.margin-bottom-30 {
  margin-bottom: 30px;
}

#map {
    height: 500px;
    width: 100%;
    border: 2px solid #ffeded;
    box-shadow: 0 0 10px rgba(0,0,0,.4);
    margin-bottom: 20px;
    margin-top: 20px;
}

#gadget-list {
  list-style: none;
}

#gadget-list a {
  text-decoration: none;
}


/*aircast locator*/
 .site-list-div {
  height: 350px;
  margin-top: 20px;
  overflow-y: scroll; 
 }

.site-list-div li {
  cursor: pointer;
  list-style: none;

}

.site-list-div li:hover {
  padding-left: 10px;
  background: #00A849AA;
  border-radius: 10px;
  color: white;
  font-size: 16px;
}

 .aircast-site-image {
  border: 2px solid white;
  box-shadow: 1px 1px 5px rgba(0,0,0,.6);
  height:200px; 
  width:300px;
 }

 #aircast-sort-item .btn-aircast {
    background: #00A849;
    color: white;
    margin-bottom: 5px;
    border-radius: 7px;
    outline: none;
    border: 2px solid green;
    transition: .1s;
 }

  #aircast-sort-item .btn-aircast:hover {
  background: #13dc6a;
  }




