body {
    padding-top: 100px !important;
    padding-bottom: 50px;
}
.starter-template {
    padding: 40px 15px;
    text-align: center;
}

.aircast-frame {
  width: 300px;
}

.margin-top-0 {
  margin-top: 0;
}

.margin-top-10 {
  margin-top: 10px;
}

.margin-top-20 {
  margin-top: 20px;
}

.margin-top-30 {
  margin-top: 30px;
}

.margin-bottom-10 {
  margin-bottom: 10px;
}

.margin-bottom-20 {
  margin-bottom: 20px;
}

.margin-bottom-30 {
  margin-bottom: 30px;
}

.radius-0 {
  border-radius: 0;
}

.add {
  text-decoration: none; 
  color: #333;
  transition: .2s;
}

.add:hover {
  transform: scale(1.4);
  text-decoration: none;
}

table a {
  text-decoration: none;
  color: black;
}
table a:hover {
  color: black;
}

#aircast-preview {
  position: fixed;
  right: 50px;
  top: 150px;
  border: 5px solid white;
  box-shadow: 0 0 20px rgba(0,0,0,.4);
  display: none;
}

#toggle-campaign {
   position: fixed; 
   top: 80px; 
   right: 50px;
}

#show-stats {
  display: none;
   position: fixed; 
   top: 80px; 
   right: 260px;
}

.glyphicon-trash {
  color: #cb4343;
}
#delete-campaign {
   position: fixed; 
   top: 80px; 
   right: 260px;
}

 #aircast-preview-first {
    position: fixed;
    right: 20px;
    text-align: center;
 }

#aircast-preview-first p {
  margin: 0 0 0 5px;
}

.site-to-send-message {
  margin-top: 20px;
}
.site-to-send-message li {
  margin-bottom: 5px;
}

#aircast-preview-first .quick-stats {

  text-align: left;
  padding-left: 100px;
}

#aircast-preview-first .quick-stats hr {
  width: 50%; 
  margin: 15px 0 15px 0;   
}

.number-to-send {
  margin-right: 20px !important; 
  transform: scale(2);
}

li.dropdown:hover > .dropdown-menu {
    display: block;
}

textarea {
    resize: none;
}

.site_preview {
	height: 300px;
	overflow-y: scroll !important;
	margin-bottom: 30px;
}

.site_preview2 {
  height: 400px;
}

/* enable absolute positioning */
.inner-addon { 
    position: relative; 
}

/* style icon */
.inner-addon .glyphicon {
  position: absolute;
  padding: 10px;
  pointer-events: none;
}

/* align icon */
.left-addon .glyphicon  { left:  0px;}
.right-addon .glyphicon { right: 0px;}

/* add padding  */
.left-addon input  { padding-left:  30px; }
.right-addon input { padding-right: 30px; }

.icon-search {
	font-size: 24px;
}

/*toggle switch*/

.switchery {
  background-color: #fff;
  border: 1px solid #dfdfdf;
  border-radius: 20px;
  cursor: pointer;
  display: inline-block;
  height: 30px;
  position: relative;
  vertical-align: middle;
  width: 50px;

  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  box-sizing: content-box;
  background-clip: content-box;
}

.switchery > small {
  background: #fff;
  border-radius: 100%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
  height: 30px;
  position: absolute;
  top: 0;
  width: 30px;
}

/* Switchery sizes. */

.switchery-small {
  border-radius: 20px;
  height: 20px;
  width: 33px;
}

.switchery-small > small {
  height: 20px;
  width: 20px;
}

.switchery-large {
  border-radius: 40px;
  height: 40px;
  width: 66px;
}

.switchery-large > small {
  height: 40px;
  width: 40px;
}

/*toastr*/

.toast {
  opacity: 1 !important;
}

#toast-container > div {
  opacity: 1 !important; 
}

.margin-bottom-30 {
  margin-bottom: 30px;
}

#map {
    height: 500px;
    width: 100%;
    border: 2px solid #ffeded;
    box-shadow: 0 0 10px rgba(0,0,0,.4);
    margin-bottom: 20px;
    margin-top: 20px;
}

#gadget-list {
  list-style: none;
}

#gadget-list a {
  text-decoration: none;
}


/*aircast locator*/
 .site-list-div {
  height: 350px;
  margin-top: 20px;
  overflow-y: scroll; 
 }

.site-list-div li {
  cursor: pointer;
  list-style: none;

}

.site-list-div li:hover {
  padding-left: 10px;
  background: #00A849AA;
  border-radius: 10px;
  color: white;
  font-size: 16px;
}

 .aircast-site-image {
  border: 2px solid white;
  box-shadow: 1px 1px 5px rgba(0,0,0,.6);
  height:200px; 
  width:300px;
  transition: 0.3s;
  cursor: pointer;
 }
  .aircast-site-image:hover {
    opacity: 0.7;
  }

 #aircast-sort-item .btn-aircast {
    background: #00A849;
    color: white;
    margin-bottom: 5px;
    border-radius: 7px;
    outline: none;
    border: 2px solid green;
    transition: .1s;
 }

  #aircast-sort-item .btn-aircast:hover {
  background: #13dc6a;
  }


/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 9999; /* Sit on top */
    padding-top: 60px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption { 
    animation-name: zoom;
    animation-duration: 0.6s;
}

@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}

/* The Close Button */
.close {
    position: absolute;
    top: 45px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
    opacity: 1;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}


/************************************
  Issue Tracker
*************************************/
.issueTrackerClose{
  cursor:pointer;
  align-self: center;
  justify-self:  center;
  vertical-align: middle;
  height: 51PX;
}
.custom-modal-content{
  width: auto;
}

.custom-modal-body{
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  width: 600px;
}

.custom-modal-body div{
  width:100%;
  margin: 0px 5px;
}
/************************************
  Issue Tracker (END)
*************************************/