
<script src="/js/switchery.js"></script>
<script src="/js/script.js"></script>

<script src="/js/angular.min.js"></script>
<script src="/js/angular-ui-bootstrap.min.js"></script>
<script src="/js/angular-ui-bootstrap-tpls.min.js"></script>
<script src="/js/FB.js"></script>
<script src="/js/MainAngular.js"></script>
<script src="/js/jquery.min.js"></script>


</body>
</html>