<!-- Navigation -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <span ng-hide="is_logged_in">
                    <button ng-click="fb_login()" id="login" class="btn btn-primary" >Login</button>
            </span>
            <span ng-show="is_logged_in">
                {{FB_Name}}
                <image ng-src="{{FB_Picture}}" height="50" width="50">
                <button ng-click="fb_logout()" class="btn btn-primary" >Logout</button>
            </span>
        </div>
        
        <!--/.nav-collapse -->
    </div>
    <!-- /.container -->
</nav>